.header-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 96vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1400px;
    height: 90px;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 10px;
}

.header-left {
    width: 50%;
}

.header-left-info {
    display: flex;
    flex-direction: column;
    width: 132px;
}

.header-left-info-title {
    font-size: 40px;
    align-self: flex-start;
    font-family: 'GroteskMedium';
}

.header-left-info-title-link {
    text-decoration: none;
    color: #000;
}

.header-left-info-description {
    font-size: 10px;
    align-self: flex-end;
    font-family: 'GroteskRegular';
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    width: 50%;
    color: #ccc;
    font-family: 'GroteskLight';
}

@media screen and (max-width: 850px) {
    .header {
      justify-content: center;
    }
    .header-left {
      width: 100vw;
    }
    .header-left-info {
      margin: 0 auto;
    }
    .header-right {
      display: none;
    }
}