.post {
    margin: 20px 0;
}

.post div {
    margin: 10px 0;
}

.post .title {
    font-size: 1.6rem;
    font-family: 'GroteskMedium';
}

.post .author {
    font-family: 'GroteskMedium';
}

.post .title a {
    color: #000;
    text-decoration: none;
}

.post .link a {
    color: #000;
    text-decoration: underline;
}

.post a:hover {
    color: #ccc;
    text-decoration: none;
}