body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GroteskRegular';
  src: local('GroteskRegular'),
    url(./fonts/woff/SyndicatGrotesk-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'GroteskRegularItalic';
  src: local('GroteskRegularItalic'),
    url(./fonts/woff/SyndicatGrotesk-RegularItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'GroteskMedium';
  src: local('GroteskMedium'),
    url(./fonts/woff/SyndicatGrotesk-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'GroteskMediumItalic';
  src: local('GroteskMediumItalic'),
    url(./fonts/woff/SyndicatGrotesk-MediumItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'GroteskLight';
  src: local('GroteskLight'),
    url(./fonts/woff/SyndicatGrotesk-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'GroteskLightItalic';
  src: local('GroteskLightItalic'),
    url(./fonts/woff/SyndicatGrotesk-LightItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'GroteskBold';
  src: local('GroteskBold'),
    url(./fonts/woff/SyndicatGrotesk-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'GroteskBoldItalic';
  src: local('GroteskBoldItalic'),
    url(./fonts/woff/SyndicatGrotesk-BoldItalic.woff2) format('woff2');
}